body
{
    background: linear-gradient(to bottom, #FFF7D6 28vh, #FFFFFF 0%) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.wave
{
    position: absolute;
    transform: translateY(27vh);
    display: block;
    z-index: -100;
}

navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98vw;
}

.logo
{
    width: 20vh;
    cursor: pointer;
}

/* switch container */
.switch-theme
{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* switch */
.switch-theme-button
{
    width: 5vw;
    height: 2.5vw;
    background-color: #FFFFFF;
    border-radius: 100px;
    
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:end;
}

.switch-theme-button:hover
{
    opacity: 1;
}

/* icon container */
.icon-container
{
    width: 2.8vw;
    height: 2.8vw;
    background-color: #393B3D;
    border-radius: 100px;
    box-shadow: inset 0px 4px 3px 0px rgba(255, 255, 255, 0.25) , inset 0px -4px 3px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* icon */
.fa-moon
{
    color: #fff;
    font-size: 1.8vw;
    text-shadow: 0px 1px 5px #F8F6F8;
}

.container-index
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translateX(52.5%);
}

.index
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0% 5% 0% 5%;
}

.content
{
    text-align: center;
    width: 80vw;
}

h1
{
    font-family: Inter, sans-serif;
}

h3
{
    font-family: Rubik, sans-serif;
}

.player
{
    background-color: white;
    width: 32vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8vh;
    padding: 0px 0px;
    border-radius: 25px;
    filter: drop-shadow(0 0 15px #AAAAAA);
}

.flex-mic
{
    display: none;
}

.first-mic
{
    text-align: center;
    font-size: 10vh;
}

.second-mic
{
    font-size: 4vh;
    color: white;
    text-align: center;
}

#recordButton
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stop
{
    font-size: 3vh;
    color: white;
    text-align: center;
}

#stopButton
{
    display: none;
    align-items: center;
    justify-content: center;
}

.flex-control
{
    display: flex;
    width: 94%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 7% 2%;
}

.control-mic
{
    display: none;
}

.control
{
    width: 9vh;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF7961;
    text-align: center;
    text-justify: auto;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    border-radius: 100%;
    cursor: pointer;
}

.control:hover
{
    opacity: 1;
}

.time
{
    padding: 0% 5%;
}

input[type="range"]
{
    background: linear-gradient(90deg, #3A6DA8 60%, #AAAAAA 0%);
    border-radius: 25px;
    position: relative;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 200px;
    margin: 0;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.8;
}

input[type="range"]:hover
{
    opacity: 1;
}

input[type="range"]::-webkit-slider-runnable-track
{
    height: 10px;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb
{
    width: 5px;
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: thin;
    border-radius: 25px;
    background-color: #3A6DA8;
    margin: -10px 0px 0px 0px;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

#value
{
    position: absolute;
    top: 12vh;
    left: 36.5%;
    transform: translateX(725%);
}

.selection
{
    width: inherit;
    display: flex;
    align-items: center;
    border-color: #DCDCDC;
    margin: auto;
}

.clean
{
    font-family: Inter;
    color: #FF3824;
    padding: 5% 18.5% 5% 18.5%;
    border-top-style: solid;
    border-right-style: solid;
    border-right-width: thin;
    border-color: #DCDCDC;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}

.next
{
    font-family: Inter;
    color: #0076FF;
    border-top-style: solid;
    border-left-style: solid;
    border-left-width: thin;
    border-color: #DCDCDC;
    padding: 5% 16.6% 5% 16.6%;
    cursor: pointer;
    overflow: hidden;
    transition: opacity 0.2s;
    opacity: 0.6;
}

.clean:hover, .next:hover
{
    opacity: 1;
}

/* Form */

.div-form
{
    width: 95%;
    backdrop-filter: blur(20px);
    border: #393B3D;
    border-radius: 25px;
    border-style: solid;
    border-width: thin;
}

.div-inputs
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: IBM Plex Sans, sans-serif;
}

.form-group
{
    flex: 0 0 45%;
    padding: 2.5% 2.5% 2.5% 2.5%;
}

.div-terms
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-input-checkbox, .form-input-button
{
    margin-bottom: 5%;
}

.terminos
{
    color: #3A6DA8;
}

/* footer */

footer
{
    position: absolute;
    bottom: 0;
}

.status
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.div-status
{
    margin: 20% 10%;
}

.fa-circle
{
    font-size: 2vh;
}

.fa-circle-check
{
    font-size: 2.2vh;
}

.active
{
    color: #3A6DA8;
}

